@if(top5Restaurant.length>0){
  

<div class="restaurant-container">
  @for (restaurant of top5Restaurant; track restaurant._id) {
   
      
         <a [routerLink]="['/restaurant', restaurant.name,restaurant._id]" class="restaurant-card-link">
            <div class="restaurant-card">
        <img [src]="restaurant.imgUrl" alt="{{ restaurant.name }}" />
  
        <div class="restaurant-info">
          <h2>{{ restaurant.name }}</h2>
          <p class="address">{{ restaurant.address }}</p>
          <p class="rating">
            <span>{{ restaurant.rating }}<i class="fa-solid fa-star"></i></span>
            
          </p>

          
        </div>
        

        
      </div>
      </a>
  }
</div>

}

@else {
  <div class="con">
    <div class="loader">
      
    </div>
  </div>
}