/* Remove margin/padding from body and html */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
    
}

/* Optional: Make sure app-root doesn't have margin */
app-root {
  display: block;
  margin: 0;
  padding: 0;
}


* {
  box-sizing: border-box;

}