<app-banner></app-banner>

@if(restaurants.length>0){
<div class="restaurant-container">
  @for (restaurant of restaurants; track restaurant._id) {
   
      <div class="restaurant-card">
         <a [routerLink]="['/restaurant', restaurant.name,restaurant._id]" class="restaurant-card-link">
        <div>
          <img [src]="restaurant.imgUrl" alt="{{ restaurant.name }}" />
  
        <div class="restaurant-info">
          <h2>{{ restaurant.name }}</h2>
          <p class="address">{{ restaurant.address }}</p>
          <p class="rating">
            <span>{{ restaurant.rating }}<i class="fa-solid fa-star"></i></span>
            
          </p>

         
        </div>
        </div>
</a>
       
 <button *ngIf="!isSaved(restaurant._id)" (click)="save(restaurant)">🤍</button>
      <button *ngIf="isSaved(restaurant._id)" (click)="remove(restaurant._id)">🧡</button>

      
      </div>
  }
</div>

}
@else {
   <div class="con">
    <div class="loader">
      
    </div>
  </div>
}
<footer>
  <app-footer></app-footer>
</footer>