<div class="upload-container">
  <h2>Upload Profile</h2>

  <div *ngIf="userProfile && !loading">
    <img [src]="userProfile.url || 'assets/default-user.jpg'" alt="Profile Image" width="200" />
  </div>

  <input type="file" (change)="onFileSelected($event)" />
  <p><strong>Name: </strong> <input type="text" name="name" [(ngModel)]="name"></p>
  <p><strong>Email: </strong> <input type="text" name="email" [(ngModel)]="email"></p>
  <button (click)="uploadProfile()">Update</button>

  <p *ngIf="message">{{ message }}</p>

  <div *ngIf="loading" class="spinner">
    <p>Uploading...</p>
    <div class="loader"></div>
  </div>
</div>
